@{
    ViewData["Title"] = "Кеттари";
}

<div class="text-center">
    <h1> Перед вами @Model.Name</h1>
</div>
<div style="text-align: left!important">
    @Model.Name  - это @foreach (Tag role in Model.Roles)
    {
    <b>@role.Name</b>
    } @Model.Level уровня
    <div style=" font-style: italic">
        @Model.Description
    </div>
    За его убийство можно получить @Model.Exp единиц опыта!
</div>

